.burger {
  margin: 0;
  margin-top: 11px;
  padding: 0;
  position: relative;
  border: none;
  width: 18px;
  height: 16px;
  background-color: transparent;
  background: linear-gradient(to bottom, #1B1A17 0%, #1B1A17 5%,
   #FFFFFF 5%, #FFFFFF 50%, #1B1A17 50%, #1B1A17 55%, #FFFFFF 55%, #FFFFFF 95%,
   #1B1A17 95%, #1B1A17 100%);
}
