.page-header {
  margin: 0 auto;
  width: 1366px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 759px;
  overflow: hidden;
  background-image: url('../img/elipse_main.png');
  background-repeat: no-repeat;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 47px;
  padding-top: 17px;
}

.page-header__wrapper--left-column {
  display: flex;
  flex-basis: 100px;
  width: 550px;
  flex-wrap: wrap;
}

.page-header__inner {
  display: flex;
  margin-right: 100%;
}
