.social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 286px;
  flex-basis: 18px;
  min-height: 75px;
  width: 18px;
}

.social__item {
  display: flex;
  margin-bottom: 13px;
}

.social__item--fb {
  background: url('../img/facebook_icon.svg');
  width: 9px;
  height: 17px;
}

.social__item--inst {

  background: url('../img/instagram_icon.svg');
  width: 18px;
  height: 18px;
}

.social__item--tw {
  background: url('../img/twitter_icon.svg');
  width: 17px;
  height: 14px;
}
