// colors
$colorTypeOne: #1b1a17;
$colorTypeTwo: rgba(27, 26, 23, 0.82);
$colorTypeThree: #262421;
$colorTypeFour: rgba(255, 255, 255, 0.75);

//bgc promo__product
$bgcProductTypeOne: #fdfdfb;

// font-size
$fontTypeOne: 'Playfair Display', 'Geogia', serif;
$fontTypeTwo: 'Roboto', 'Arial', sans-serif;
$fontTypeThree: 'Prata', 'Georgia', serif;

//decoration line, bgc
$bgcDecorationLineTypeOne: #C4C0B6;
$bgcDecorationLineTypeTwo: #8B8371;
