// colors
$colorTypeOne: #1b1a17;
$colorTypeTwo: rgba(27, 26, 23, 0.82);
$colorTypeThree: #262421;
$colorTypeFour: rgba(255, 255, 255, 0.75);
$colorTypeFive: rgb(27, 26, 23);
$colorTypeSix: rgb(68, 66, 64);
$colorTypeSeven: #ffffff;


//bgc promo__product
$bgcProductTypeOne: #fdfdfb;

//bgc slider
$bgcSliderTypeOne: linear-gradient(to right, #F7F5EF 32%, #FDFDFB 32%, #FDFDFB 100%);

// bgc link
$bgcLinkBtn: rgb(212, 176, 152);

// font-size
$fontTypeOne: 'Playfair Display', 'Geogia', serif;
$fontTypeTwo: 'Roboto', 'Arial', sans-serif;
$fontTypeThree: 'Prata', 'Georgia', serif;

//decoration line, bgc
$bgcDecorationLineTypeOne: #C4C0B6;
$bgcDecorationLineTypeTwo: #8B8371;
